[submodule "golden-muscat"]
	path = submodules/models/golden_muscat
	url = https://github.com/xiyuez2/Darpa_Unet
[submodule "submodules/models/rigid_wasabi"]
	path = submodules/models/rigid_wasabi
	url = https://github.com/xiyuez2/Darpa_Unet.git
[submodule "submodules/models/blaring_foundry"]
	path = submodules/models/blaring_foundry
	url = https://github.com/xiyuez2/Darpa_Unet.git
[submodule "submodules/models/drab_volcano"]
	path = submodules/models/drab_volcano
	url = https://github.com/Dongjiahua/DARPA_torch.git
